@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

:root {
    font-size:18px;
    --font-1:'Sansita Swashed', cursive;
    --font-2:'Commissioner', sans-serif;
    --main-color:rgb(255, 221, 226);
    --hover-color:rgb(255, 221, 226, .4);
    --main-bg-color:rgb(123, 123, 123);
    --position:15%;
    --default-width:100%;
}
body {
    font-family:var(--font-1);
    background-color:var(--main-bg-color);
    color:var(--main-color); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
    text-align: center;
    padding: 1%;
}

.page-header a {
    text-decoration: none;
}

.page-header img {
    width:var(--default-width);
    max-width: 30px;
    margin:0 .5%;
    filter: grayscale(100%);
}
.content {
    text-align: center;
    width:var(--default-width);
    background-image:url(https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding:10rem 0;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%, 
        50% 100%, 
        0% 50%);
    top:calc(var(--position) + 5%);
    max-height: 100%
}
.page-text h1{
    margin-top: 0;
}

.page-text h1 a {
    font-size: 4rem;
    text-decoration: none;
    color:var(--main-color);
}
.page-text h1 a:hover {
    color:var(--hover-color);
}

.link-text:nth-child(2) {
    font-family:var(--font-2);
}
@media (min-width:800px) {
    .page-header {
        text-align: left;
    }
    .content {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 50%, 
            50% 100%, 
            0% 50%);
        }
    .page-text h1{
        font-size: 4rem;
    }
}

@media (min-width:1000px) {
    .content {
        position: absolute;
        top:calc(var(--position) + 5%);
    }
    .page-header img {
        max-width: 45px;
    }
    .page-text h1{
        font-size: 6rem;
    }
    .page-text h1{
    margin-top: 0;
    margin-bottom: 10rem;
    }
}

@media (min-width:1200px) {
    .content {
        clip-path:none;
    }
    .page-text h1{
        font-size: 8rem;
}
/* 

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

*/

/*
background image found from https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts
*/