@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page-header { grid-area: page-header; }
.navigation-bar { grid-area: navigation-bar; }
.content-left { grid-area: content-left; }
.content-right { grid-area: content-right; }
.footer { grid-area: footer; }

html {
    font-size:14px;
    font-family:'Piazzolla', serif;
    font-weight:300;
    color:black;
    background-color: beige;
}

body {
    margin:2% auto;
    padding:2%;
}

.page-header {
    display:inline-flex;
    justify-content: space-between;
}

.page-header h1 {
    font-size:4rem;
}
.grid-container {
    display: grid;
    grid-template-areas: 
        'page-header page-header page-header page-header page-header page-header'
        'navigation-bar content-left content-left content-left content-right content-right'
        'navigation-bar footer footer footer footer footer';
    grid-gap: 2%;
    background-color: brown;
    padding: 2%;
}
.grid-container > div {
    background-color: brown;
    text-align: left;
    padding: 2%;
    font-size: 14px;
}
.navigation-bar {
    margin:4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-bar a {
    font-size:2rem;
    text-align: center;
    padding:.75rem 1rem;
    margin-bottom:.75rem;
    color:dimgray;
    background-color:white;
    border-radius:2rem;
    box-shadow: 1px 3px 3px #333;
}

.reference {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.reference header {
    text-align: right;
    background-color: white;
    padding:.75rem 1rem;
    margin-bottom:.75rem;
    border-radius:.5rem;
    box-shadow: 1px 2px 2px #333;
}


@media (min-width:600px) {
}
@media (min-width:800px) {
}
@media (min-width:1000px) {
}
@media (min-width:1300px) {
}