@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

:root {
    --font-size:55px;
    --font-1:'Sansita Swashed', cursive;
    --font-2:'Commissioner', sans-serif;
    --main-color:rgb(255, 221, 226);
    --second-color:rgb(234, 218, 226);
    --main-bg-color:rgb(123, 123, 123);
    --position:15%;
    --default-width:100%;
}
.page-header { grid-area: page-header; }
.page-text { grid-area: page-text; }
.gallery { grid-area: gallery; }

body {
    font-family:var(--font-1);
    background-color:var(--main-bg-color);
    color:var(--main-color); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
    margin-top: 0;
    text-align: center;
    padding: 1%;
}

.page-header a {
    text-decoration: none;
}

.page-header img {
    width:var(--default-width);
    max-width: 30px;
    margin:0 .5%;
    filter: grayscale(100%);
}
.sign-in {
    font-family:var(--font-2);
    color:var(--main-color);
    font-size:20px;
    margin:0;
    bottom:0;
}
.wrapper {
    font-size:var(--font-size);
    text-align: center;
    width:var(--default-width);
    background-image:url(https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding:10rem 0;
    display:grid;
    grid-template-areas: 
        'page-header'
        'page-text'
        'gallery';
    grid-gap: 2%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 50%, 
        50% 100%, 
        0% 50%);
}
.svg-logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-logo img {
    display: block;
    margin: 0;
    max-width: 1200px;
    width:50%;
}

.gallery {
    margin-top: 1%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.gallery img {
    max-height: 250px;
    max-width: 200px; 
    filter: grayscale(80%);
}

.gallery-item {
    background-color:transparent;
    margin:auto;
    width:100%;
    position: relative;
}

.gallery-item > figure {
    width:var(--default-width);
    margin:0;
    padding:0;
}

.overlay {
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    height:var(--default-width);
    width:var(--default-width);
    transition:2s ease-in-out;
}

.text a {
    text-decoration: none;
    color:var(--second-color);
}

.gallery-item:hover .overlay,
.gallery-item:active .overlay {
  opacity:.9;
    transition:.75s ease;
}

.page-footer {
    position:relative;
    bottom:0;
    text-align: center;
    padding: 1%;
    margin:0;
}

.footer-nav a {
    text-decoration: none;
    font-family: var(--font-1);
    color: var(--main-color);
    font-size:30px;
    margin:0 .5%;
}

.cc-info {
    font-family: var(--font-2);
    color: var(--second-color);
    margin-top:.25rem;
    margin-bottom:0;
}

.cc-info a {
    color: var(--second-color);
    text-decoration: none;
}

@media (min-width:800px) {
    .page-header {
        text-align: left;
    }
    .sign-in {
        text-align: right;
    }
    .wrapper {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 90%, 
            50% 100%, 
            0% 90%);
        }
    .gallery {
        flex-direction: row;
    }
}

@media (min-width:1000px) {
    .page-header img {
        max-width: 45px;
    }
    .sign-in {
        font-size: 30px;
    }
    .footer-nav a {
        font-size: 45px;
    }
}

@media (min-width:1200px) {
    .wrapper {
        top:0;
        clip-path:none;
    }
}
/* 

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>


*/

/*
background image found from https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts
*/